<?xml version="1.0" encoding="UTF-8"?>
<included>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%t] %-40.40logger{39} : %m%n%wex}</pattern>
    </encoder>
    <file>${FILE_LOG:-/var/log/app/application.log}</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${FILE_LOG_ROLLING_PATTERN:-/var/log/app/application.%d{yyyy-MM-dd}.%i.log.gz}</fileNamePattern>
      <minIndex>${FILE_MIN_INDEX:-1}</minIndex>
      <maxIndex>${FILE_MAX_INDEX:-7}</maxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>${FILE_LOG_MAX_SIZE:-20MB}</maxFileSize>
    </triggeringPolicy>

  </appender>
</included>